@import './reset.scss';
@import './fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

ul,
ol {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 100%;
}
